@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
  font-display: swap
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Thin.ttf');
  font-display: swap
}
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
.with-margin-bottom {
  margin-bottom: 10px;
}
/* END RESET*/

/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  min-height: 100vh;
}
h1,h2,h3,h4,h6 {
  font-family: 'Raleway';
  font-weight: 100;
}
main {
  display: flex;
  flex: 1 1 auto;
  padding-top: 69px;
  width: 100%;
}
h1 {
  font-size: 3em;
  margin-top: 0;
}
h2 {
  font-size: 2em;
}
a {
  color: #236e99;
}
p {
  line-height: 1.5;
  font-size: 0.8em;
}
h4 {
  color: rgb(99, 97, 97);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
h5 {
  font-weight: bold;
  line-height: 1.5;
}
h6 {
  padding-left: 10px;
  font-size: 1em;
  font-style:italic;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.tags {
  margin: 5px 0 !important;
}
.tags > li {
  display: inline;
  line-height: 1.5;
  font-size: 0.8em;
}
.tag {
  background-color: rgba(100, 100, 100, 0.1);
  border: 1px solid rgba(35, 237, 237, 0.1);
  padding: 0 3px;
  margin: 0 1px;
  border-radius: 5px;
}

/* HEADER STYLES */
.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 20;
  height: 69px;
  box-sizing: border-box;
}
.header-logo {
  box-sizing: border-box;
  display: block;
  opacity: 0.5;
  width: 69px;
}
.header-logo:hover,
.header-logo:active {
  opacity: 1;
}
.header-logo img {
  width: 100%;
}
.header-nav {
  float: right;
  padding: 26px 20px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 1em;
}
.header-nav a,
.drop-trigger {
  color: #fff;
  cursor: default;
}
.nav-links a,
.drop-trigger, .show-mobile-menu {
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:active  {
  color: #ed6e2f;
}
.header-nav > li:first-child a {
  color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
  color: #fff;
}

/* DROPDOWN STYLES */
.dropdown {
  position: relative;
}
.dropdown:hover .drop-menu {
  display: block;
}
.dropdown:hover .drop-trigger:after {
  border-color: #ed6e2f transparent transparent;
}
.dropdown:hover .drop-trigger {
  color: #ed6e2f;
}
.drop-trigger {
  display: inline-block;
  padding-right: 1.5em;
  position: relative;
}
.drop-trigger:after {
  border: 0.3em solid;
  border-color: #fff transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0.3em;
  width: 0;
}
.drop-menu {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent #fff;
  content: "";
  height: 0;
  position: absolute;
  right: 1em;
  top: -0.1em;
  width: 0;
}
.drop-menu li {
  background-color: #fff;
}
.drop-menu li ~ li {
  border-top: 1px dotted rgba(0,0,0,0.1)
}
.drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
}
.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}
.drop-menu a {
  color: #333;
  display: block;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
}
.drop-menu a:hover {
  background-color: rgba(0,0,0,0.1);
  color: #333;
}

/* FOOTER STYLES */
.footer {
  background-color: #000;
  padding: 40px 0;
  text-align: center;
}
.footer-logo img {
  width: 50px;
}
.footer h3 {
  color: #fff;
  padding-top: 1.5em;
  text-transform: uppercase;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* CV */
.cv-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}
.cv {
  box-sizing: border-box;
  height:297mm;
  width:210mm ;
  margin: 32px auto;
  background-color: white;
  border: solid 1px black;
  box-shadow: 8px 8px 8px -4px rgba(0,0,0,1);
  padding: 5mm;
  display: flex;
  flex-direction: column;
}
.upload {
  position: relative;
  box-sizing: border-box;
  margin: 1px;
}
.cv:hover .fa-upload {
  opacity: 0.7;
}
.fa-upload {
  position: absolute;
  border: 1px solid white;
  border-radius: 10px;
  right: 0px;
  padding: 4px;
  opacity: 0.3;
}
.fa-upload:hover {
  border: 1px solid #6397b5;
  background-color: rgba(0, 0, 0, 0.05);
}
.cv-header {
  display: flex;
  align-items: center;
  margin: 0 10mm;
}
.cv-title {
  display: inline-block;
  flex: 1;
  text-align: center;
  padding-top: 5mm;
}
.cv-title > h2 {
  margin-top: 10px;
}
.cv-title > p {
  margin-top: 15px;
}
.profile-pic {
  display: inline-block;
  width: 40mm;
  height: auto;
  border-radius: 100mm;
  margin-bottom: 2px;
}
.cv-abstract {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2mm 0;
  text-align: center;
}
.cv-body {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5mm 0 0;
  flex: 1;
  display: flex;
}
.main {
  flex: 3;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.competences {
  padding-left: 5mm;
  flex: 1;
}
.cv-container ul {
  margin : 5px;
  list-style-type: none;
}
.main ul li ~ li, .competences > ul > li ~ li {
  margin : 30px 0;
}
div.logo-job {
  flex: 1;
  text-align: right;
}
.logo-pic {
  width: auto;
  height: 40px;
}
.element-content {
  padding-left: 15px;
  margin: 0;
}
.competences .element-content {
  padding-left: 0;
}
.subset_title {
  color: #236e99;
}
.skill > h6 {
  font-style: normal;
  padding-left: 0;
  line-height: 1.1;
}
.fa-star, .fa-star-o {
  color: #FF8904;
  size: 7px;
}
.misc {
  padding: 5px;
  background-color: rgb(245, 245, 245, 1);
}
.misc li {
  line-height: 1.5;
  font-size: 0.8em;
}
.social-links, .social-links li {
  display: inline;
}

@media (max-width: 800px) {
  .cv {
    width: 100vw;
    box-shadow: none;
    margin: 0;
  }

  /* HEADER STYLES */
  .header-nav {
    padding: 0px 1em 0 0;
  }
  .header-nav > li {
    margin-left: 0.25em;
  }
  .header-nav > li ~ li {
    padding-left: 0.25em;
  }
  .header-logo {
    left: auto;
  }

  /* MOBILE MENU */
  .show-mobile-menu {
    display: block;
    float: right;
    padding: 1.5em;
    position: relative;
    margin-top: 10px;
  }
  .header-nav {
    background-color: #444;
    box-sizing: border-box;
    left: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 69px;
    transition: height 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }
  .mobile-menu-check:checked ~ .header-nav {
    height: 77.2px;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: #000;
    color: #ed6e2f;
    content: "CLOSE";
    left: 0;
    position: absolute;
    top: 1.5em;
    width: 100%;
    text-align: center;
  }
  .header-nav li {
    display: block;
    margin-top: 1em;
  }
  .header-nav li:last-child {
    margin-bottom: 1em;
  }
  .header-nav li:first-child a {
    color: #fff;
  }
  .header-nav > li ~ li {
    border: 0;
    padding-left: 0;
  }
  .header-nav .drop-trigger {
    display: none;
  }
  .header-nav .drop-menu:after,
  .header-nav .drop-trigger:after {
    display: none;
  }
  .header-nav .drop-menu:before {
    display: none;
  }
  .header-nav > li.dropdown {
    margin: 0;
    padding: 0;
    display: block;
  }
  .header-nav > li:first-child {
    margin: 5px auto;
    padding: 0;
    display: block;
  }
  .drop-menu {
    display: block;
    position: static;
    box-shadow: none;
    padding: 0;
  }
  .drop-menu > li {
    border-radius: 0;
    margin: 0;
    background-color: inherit;
    border: 0;
  }
  .drop-menu > li > a:visited {
    color: white;
  }
  .drop-menu li ~ li {
    border-top: 0;
  }
  .drop-menu > li > a {
    text-align: center;
    color: white;
  }
}

@media (max-width: 768px) {
  .cv, .cv-body {
    display: block;
    height: auto;
  }
  .main {
    border: none;
  }
}

@media (max-width: 728px) {
  div.profile_pic_container {
    padding-top: 100px;
  }
  .cv-header {
    margin-bottom: 10px;
  }
}

@media (max-width: 525px) {
  .cv-header {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .cv-header {
    display: block;
    text-align: center;
  }
}

@media (max-width: 350px) {
  div.logo-job {
    text-align: center;
  }
}