<head>
  {% if page.title %}
  <title>{{ page.title }} | Maximilien Pressensé </title>
  {% else %}
  <title>Maximilien Pressensé</title>
  {% endif %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }} de Maximilien Pressensé, développeur web junior, en fin d'étude à l'école 42.">
  {% else %}
  <meta name="description" content="Github Pages de Maximilien Pressensé, développeur web junior, en fin d'étude à l'école 42.">
  {% endif %}
  <link href="/images/logo.png" rel="icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>