<li><a href="/">CV</a></li>
<li><a href="/resume.html">Resume</a></li>
<li><a href="https://dev.to/mpressen" target="_blank" rel="noopener">Blog</a></li>
<li class="dropdown">
	<a class="drop-trigger">Portfolio</a>
	<ul class="drop-menu">
		<li><a href="https://github.com/Benefactorum/app" target="_blank" rel="noopener">Benefactorum</a>
		<li><a href="https://github.com/mpressen/camagru_improved" target="_blank" rel="noopener">Camagru (Improved)</a>
		</li>
		<li><a href="https://github.com/mpressen/web-portfolio" target="_blank" rel="noopener">Autres projets</a></li>
	</ul>
</li>
